.expandable {
    border:none;
    display: none;
    padding: 10px;
    background-color: rgba(143, 76, 8, 0);
    margin-top: 10px;
}

.button-with-image {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: 40px;
}

.button-with-image img {
    max-height: 125px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.button-with-image .button {
    padding: 10px 20px;
    margin-top: 10px;
}

.vertical-expandable {
    display: flex;
    flex-direction: column;
}

.vertical-expandable .button-with-image {
    display: flex;
    flex-direction: column;
}