.sticky_navbar .button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.ellipsis {
    font-size: 22px;
    margin-left: 5px;
    margin-top: -10px;
}

.modal {
    display: none;
    position: absolute;
    top: 100px;
    right: 8px;
    background-color: rgba(143, 76, 8, 0.2);
    padding: 20px;
}

.modal_button {
    display: block;
    padding: 10px;
    background-color: rgba(143, 76, 8, 0);
    color: oldlace;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Lucida Handwriting', cursive;
    font-weight: bold;
}

.modal_button:hover {
    background-color: rgba(143, 76, 8, 0.2);

}

.section .button {
    width: auto;
    margin: 40px auto;
    white-space: nowrap;
}

.expandable {
    border:none;
    display: none;
    padding: 10px;
    background-color: rgba(143, 76, 8, 0);
    margin-top: 10px;
}

.button_with_image {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-right: 40px;
}

.button_with_image img {
    max-height: 125px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.button_with_image .button {
    padding: 10px 20px;
    margin-top: 10px;
}


